<div class="jumbotron">
	<div class="row">
		<h1 class="text-center">Hello "<b><span ng-bind="teamData.teamId"></span></b>"</h1>
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div id="panels" class="panel panel-primary">
					<div class="panel-heading">
						<h4>Team Members</h4>
						<h1>{{ teamData.user_count }} / {{ 4 }}</h1>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div id="panels" class="panel panel-warning">
					<div class="panel-heading">
						<h4>Total Paid</h4>
						<h1>{{ teamData.payment.up }} / {{ teamData.payment.down }}</h1>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div id="panels" class="panel panel-danger">
					<div class="panel-heading">
						<h4>Round 1</h4>
						<h1>On 24th</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-12 col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Team Members</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Mobile Number</th>
									<th>Email</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in teamData.users">
									<th scope="row">{{ $index+1 }}</th>
									<td>{{x.name}}</td>
									<td>{{x.phone}}</td>
									<td>{{x.hackerEarthId}}</td>
									<td><button class="btn btn-primary"><i class="fa fa-edit" ng-click="openMemberModal(x)"></i></button></td>
								</tr>
							</tbody>
							<div class="pull-right">
								<button type="button" class="btn btn-info" ng-click="openAddMemberModal()" ng-disabled="teamData.user_count==4">Add a Member</button>
							</div>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Online Payment</h3>
					</div>
					<div class="panel-body">
						<img class="img-responsive" src="paytm.jpg" alt="paytm_qr_code" />
					</div>
					<div class="panel-footer text-justify">
						After paying to the above mentioned paytm, enter the Transaction ID and the mobile number through which the payment is done on the right side. <a href="https://paytm.com/care/pay-or-send-faqs/" target="_blank">Paytm FAQ >></a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="panel-title">Payment Verfication</h3>
					</div>
					<div class="panel-body text-center">
						<h3 ng-show="teamData.transaction.length==0">You didn't add one yet.</h3>
						<table class="table table-bordered" ng-show="teamData.transaction.length">
							<thead>
								<tr>
									<th>#</th>
									<th>Paytm Transaction ID</th>
									<th>Mobile Number</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in teamData.transaction">
									<th scope="row">{{ $index+1 }}</th>
									<td>{{x.tid}}</td>
									<td>{{x.number}}</td>
									<td>
										<button class="btn btn-success" ng-show="x.status=='true'"><i class="fa fa-check"></i></button>
										<button class="btn btn-warning" ng-show="x.status=='false'"><i class="fa fa-eye-slash"></i></button>
										<button class="btn btn-danger" ng-show="x.status=='failed'"><i class="fa fa-close"></i></button>
									</td>
								</tr>
							</tbody>
							<div class="pull-right">
								<button type="button" class="btn btn-info" ng-click="openTransactionModal()">Send Verification Request</button>
							</div>
						</table>
						<table class="table table-bordered" ng-show="teamData.transaction.length">
							<thead>
								<tr>
									<th>Status</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<button class="btn btn-success"><i class="fa fa-check"></i></button>
									</td>
									<td>
										Payment Verified
									</td>
								</tr>
								<tr>
									<td>
										<button class="btn btn-warning"><i class="fa fa-eye-slash"></i></button>
									</td>
									<td>
										Yet to Verify
									</td>
								</tr>
								<tr>
									<td>
										<button class="btn btn-danger"><i class="fa fa-close"></i></button>
									</td>
									<td>
										Payment Failed, Contact us if any problem.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add Member -->
<div id="addMemberModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add a Member</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="addForm">
					<div class="form-group">
						<label>Member Name:</label>
						<input type="name" ng-model="team.name" placeholder="Name" class="form-control" required>
						<span class="help-block m-b-none">Enter full name as seen in your ID proof.</span>
					</div>
					<div class="form-group">
						<label>Mobile Number:</label>
						<input type="number" pattern="[0-9]*" ng-model="team.phone1" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
						<span class="help-block m-b-none">Enter your phone number.</span>
					</div>
					<div class="form-group">
						<label>Confirm Mobile Number:</label>
						<input type="number" ng-model="team.phone2" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
						<span class="help-block m-b-none">For confirmation.</span>
					</div>
					<div class="form-group">
						<label>Email:</label>
						<input type="email" ng-model="team.hackerEarthId" placeholder="em@i.l" class="form-control" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary pull-right" type="submit" ng-disabled="addForm.$invalid" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Adding" ng-click="addMember()"><strong>Add</strong></button>
			</div>
		</div>
	</div>
</div>

<!-- Member Modal -->
<div id="memberModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Member : {{memberData.name}}</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="registerForm">
					<div class="form-group">
						<label>Member Name:</label>
						<input type="name" ng-model="memberData.name" placeholder="Name" class="form-control" required>
						<span class="help-block m-b-none">Enter full name as seen in your ID proof.</span>
					</div>
					<div class="form-group">
						<label>Mobile Number:</label>
						<input type="number" pattern="[0-9]*" ng-model="memberData.phone" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
						<span class="help-block m-b-none">Enter your phone number.</span>
					</div>
					<div class="form-group">
						<label>Email:</label>
						<input type="email" ng-model="memberData.hackerEarthId" placeholder="em@i.l" class="form-control" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary pull-right" type="submit" ng-disabled="registerForm.$invalid" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Saving" ng-click="editMember()"><strong>Save</strong></button>
			</div>
		</div>
	</div>
</div>

<!-- Transaction Modal -->
<div id="transactionModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Payment Verification Request</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="transactionForm">
					<div class="form-group">
						<label>Mobile Number:</label>
						<input type="number" pattern="[0-9]*" ng-model="transaction.phone" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
						<span class="help-block m-b-none">Enter the number used to send money.</span>
					</div>
					<div class="form-group">
						<label>Paytm Transaction ID:</label>
						<input type="name" ng-model="transaction.tid" class="form-control" required>
						<span class="help-block m-b-none">The unique ID which you received when you made a successful transaction.</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary pull-right" type="submit" ng-disabled="transactionForm.$invalid" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Sending" ng-click="addTransaction()"><strong>Send</strong></button>
			</div>
		</div>
	</div>
</div>
