<div class="jumbotron">
	<div class="row">
		<h1 class="text-center">Register</h1>
		<br>
		<div class="col-sm-6 col-sm-offset-3">
			<form role="form" name="registerForm" ng-submit="createTeam()">
				<div class="form-group">
					<label>Team ID (Team Name):</label>
					<input type="name" ng-model="team.teamId" placeholder="My_Awesome_Team" class="form-control" required ng-minlength="5">
					<span class="help-block m-b-none">Can be combination of alphanumeric and underscore, shoud atleast be of minimum length 5.</span>
				</div>
				<div class="form-group">
					<label>Primary Member Name:</label>
					<input type="name" ng-model="team.name" placeholder="Enter name" class="form-control" required>
					<span class="help-block m-b-none">As seen in your identity proof.</span>
				</div>
				<div class="form-group">
					<label>Primary Mobile Number:</label>
					<input type="number" pattern="[0-9]*" ng-model="team.phone1" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
					<span class="help-block m-b-none">This will be your password for login.</span>
				</div>
				<div class="form-group">
					<label>Confirm Mobile Number:</label>
					<input type="number" ng-model="team.phone2" placeholder="9876543210" class="form-control" required ng-minlength="10" ng-maxlength="10">
					<span class="help-block m-b-none">Enter your mobile number again to confirm.</span>
				</div>
				<div class="form-group">
					<label>Enter email:</label>
					<input type="email" ng-model="team.hackerEarthId" placeholder="myemail@gmail.com" class="form-control" required>
					<span class="help-block m-b-none">Necessary for sending invite.</span>
				</div>
				<div class="form-group">
					<label>State:</label>
					<input type="name" ng-model="team.state" placeholder="Enter state" class="form-control" required>
					<span class="help-block m-b-none">Select the state from where you are visiting.</span>
				</div>
				<div class="form-group">
					<label>University / College:</label>
					<input type="name" ng-model="team.university" placeholder="Enter College" class="form-control" required ng-minlength="5">
					<span class="help-block m-b-none">Enter the name of your institution.</span>
				</div>
				<div>
					<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-disabled="registerForm.$invalid" id="button_load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting"><strong>Sign Up</strong></button>
				</div>
			</form>
		</div>
	</div>
</div>
